<div class="container">

    <p class="display-5">
          Calculer nombre de produits par libelle :
    </p>
    <div class="container d-flex justify-content-center">
        <input  class="form-control" type="text" [(ngModel)]="searchWord">
    <button type="button"(click)="calcProduits()" class="btn btn-primary" > Calculer </button> 
    </div>
    <div class="alert alert-light" role="alert" *ngIf="n>-1"> 
        <h6>  Nombre de {{searching}}  est {{n}} </h6>
      </div>
    <div class="container mt-5"> 
        <p class="display-5">
            List Produits :
        </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID :</th>
                <th>Code : </th>
                <th>Libelle : </th>
                <th>Prix :</th>
                <th>TVA :</th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let p of listProductsJson; let index = index">
                <td>{{p}} </td>
             <!--    <td> {{p.code}}</td>
                <td> {{p.libelle}}</td>
                <td> {{p.prixunitaire}}</td>
                <td> {{p.tauxTva}}</td>                   
              <td> <input type="button" class="btn btn-primary" 
                routerLink="editinvoice/{{invoice.idInvoice}}" value="Edit" >  </td> --> 
            </tr>
        </tbody>
    </table>
</div>
</div>
